@font-face {
    font-family: 'AlibabaSansB';
    src: url("AlibabaSans-Bold.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura';
    src: url("Futur.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Avenir;
    src: url("Avenir_Book.ttf");
    font-weight: normal;
    font-style: normal;
}
